# Vercel
.vercel

# Astro build output
dist/
.astro/

# Node
node_modules/
npm-debug.log*

# Environment variables
.env
.env.local
.env.production

# OS files
.DS_Store
Thumbs.db

# Editor
.vs/
.vscode/settings.json
